In [172]:
import selenium
import pandas as pd
from selenium import webdriver

In [173]:
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')

## Q1
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. 

You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

In [174]:
url = 'https://www.naukri.com/'
driver.get(url)

In [175]:
search_title = driver.find_element_by_id('qsb-keyword-sugg')

search_title.send_keys('Data Analyst')

In [176]:
search_location = driver.find_element_by_id('qsb-location-sugg')

search_location.send_keys('Bangalore')

In [177]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")

search_btn.click()

In [178]:
name = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

name

[<selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="29819f12-48da-4ca9-b867-8db8537b12f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="4370103b-f6b8-435b-ab99-30e33328420e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="7d22072f-dc09-472e-b930-dd5ea929d593")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="bb0504bd-3c0f-4184-b530-947db6a70632")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="f66cba16-4250-4737-a7f3-5b82bcf460a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="987ff939-2488-48c8-846a-d25f6e878a7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="a297932f-c8ed-48eb-9aba-4a0d4200a584")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="5d8b2bba-23cd-4de1-a13a-90141f12b4c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="59ddfad8-2593-4e83-824a-31dd87d22132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="ae34dd63-5eea-4c8e-9da5-9d9469cf31d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="df89ac1c-2d87-40ee-bc2d-3a950d865cc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="8210d8cd-7a40-428f-b7a6-870180ec3789")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="6b7e43f0-f28a-4d3a-bf36-42e4b1752aba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="880a8460-7121-4d21-8374-89e01561b2f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="a018472c-dc61-4a96-8321-44b8aeea6508")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="caf07b3e-faf8-49d5-a8fb-5ef8b7c9e369")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="bb024ca3-5b9f-4d32-a345-2abde5d581ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="cdec919e-040e-4aa4-ad2d-38c45a068895")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="3bfece8c-f540-4dd9-9d1e-ea3069485be0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="4da69bcf-4bfc-45fb-9de2-21371e96e929")>]

In [179]:
titles = []

num = 1
for i in name:
    if num <=10:
        titles.append(i.text)
        num+=1
    else:
        break

In [180]:
len(titles)

10

In [181]:
titles[0:5]

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'Data Analyst',
 'Data Analyst']

In [182]:
companies = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies

[<selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="5648bd77-1d45-4b9a-9546-59ae1031f3c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="48836c4b-c08d-4e87-821f-8c2bb9c26ff2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="2bd23313-4952-4db0-b9ae-d3f89f7b725c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="6566a95c-9005-4d5a-9cc1-9e23488332c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="57fc4be3-bf0f-4132-b9f6-5dc78caa9e30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="b46c7249-6cc4-44f7-ae08-070af3578285")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="b9c741ee-e90a-4f3f-9e1e-52a88edbcd18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="a43e11c9-6474-4816-a35a-ad4fd9ae99c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="663fdab7-601f-41a0-a57a-c761ead673e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="a8397225-26bc-4dc1-b32a-f464488f663e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="116a86ba-b5ce-4cb2-9b69-e3a5116380fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="0daafae3-4447-4bd3-8763-2ff3b380532e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="cd41f9d2-72d0-4662-a0f7-67e79817c966")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="63054489-7709-4c5f-bfad-dd6765654d5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="2e6d7e27-f212-42d1-827a-2bcf5ab60152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="163867ce-3cca-4bbc-b2c5-7486c97f46ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="41a661ca-05df-4ea1-aeb1-d073d3d0c7db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="7a8a0e78-68db-4217-bb2a-cc45cee29a05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="de0907fb-9d86-4a0c-91fa-b5eb516fcac3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="f0b4574b-74ad-4da3-b998-366200971583")>]

In [183]:
company = []

num = 1
for i in companies:
    if num <=10:
        company.append(i.text)
        num+=1
    else:
        break

company[0:5]

['Inflexion Analytix Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Allegis Services India Pvt. Ltd.',
 'Shell India Markets Private Limited',
 'Applied Materials']

In [184]:
place = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

place


location = []

num = 1
for i in place:
    if num <=10:
        location.append(i.text)
        num+=1
    else:
        break

location[5:]

['Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru']

In [185]:
len(location)

10

In [186]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

exp


experience = []

num = 1
for i in exp:
    if num <=10:
        experience.append(i.text)
        num+=1
    else:
        break

experience[0:5]

['0-3 Yrs', '0-2 Yrs', '0-5 Yrs', '5-8 Yrs', '7-10 Yrs']

In [187]:
Naukri = pd.DataFrame({'Title':titles,'Company':company,'Location':location,'Experience':experience})

Naukri.shape

(10, 4)

In [188]:
Naukri.head()

,Title,Company,Location,Experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,0-2 Yrs
2,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,0-5 Yrs
3,Data Analyst,Shell India Markets Private Limited,Bangalore/Bengaluru,5-8 Yrs
4,Data Analyst,Applied Materials,Bangalore/Bengaluru,7-10 Yrs

## Q2
Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [190]:
url = 'https://www.naukri.com/'
driver.get(url)

search_title = driver.find_element_by_id('qsb-keyword-sugg')

search_title.send_keys('Data Scientist')

search_location = driver.find_element_by_id('qsb-location-sugg')

search_location.send_keys('Bangalore')

search_btn = driver.find_element_by_xpath("//button[@class='btn']")

search_btn.click()

In [191]:
name1 = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

name1

[<selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="190f8d84-ec8f-4f46-8334-df46e804f324")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="69ed4b60-bc1f-4d41-ae37-fe494c10955a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="90b1399e-c221-4eb9-8b58-eb12b06b0e12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="7c8dd311-0c96-4e4a-bb56-cd118027f6ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="b8071d3c-f025-4e27-8c66-a15a8b88f1b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="bc39541c-e887-4b6d-85ef-c75010963488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="f1c2535d-11d7-43a5-8adb-0205affe60b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="a075d6eb-5e16-4fbe-a92d-4456e4a967a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="f1e7e26e-2f75-4207-a524-10d5608e4417")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="1e71bfb1-7a57-4e8c-852d-bf5a275358b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="39896e2d-f8d3-46fb-b7e7-6fdc2c242a90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="cb809445-8107-4082-9e56-dcebe23dd7c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="6cf1590b-14d9-4d68-8272-a404fea4c725")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="8dd4ef20-d35b-49d1-8a0c-2302823ca7ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="9adf69b7-3758-464d-ba70-750a1215631c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="7aa0d55b-c760-47b4-821b-b718d4ad2e39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="24aae3b3-6870-403a-a122-308d5140bfd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="2c537c29-7505-49bc-bdd0-bcb81792cda9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="e92bb6f7-f1dd-492b-bc0f-dde8e1b77550")>,
 <selenium.webdriver.remote.webelement.WebElement (session="94d2ba866fedf6cd9014f46270a6d31e", element="8001e4fd-10aa-4efd-a4e5-67d8c8c7aad7")>]

In [192]:
titles1 = []

num = 1
for i in name1:
    if num <=10:
        titles1.append(i.text)
        num+=1
    else:
        break
        
titles1[:5]

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Analytics & AI Product Mgmt - Sr. Data Scientist',
 'Senior Data Scientist']

In [193]:
len(titles1)

10

In [194]:
companies1 = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies1

company1 = []

num = 1
for i in companies1:
    if num <=10:
        company1.append(i.text)
        num+=1
    else:
        break

print(company1[0:5])

len(company1)

['Inflexion Analytix Private Limited', 'CES Ltd.', 'CES Ltd.', 'GlaxoSmithKline Pharmaceuticals Limited', 'Vijaya Management Services']

10

In [195]:
place1 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

place1


location1 = []

num = 1
for i in place1:
    if num <=10:
        location1.append(i.text)
        num+=1
    else:
        break

print(len(location1))
        
location1[:5]

10

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru']

In [196]:
url_a= 'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16208893095762212&xp=1&px=1'

driver.get(url_a)

In [197]:
job_desc = driver.find_element_by_xpath("//div[@class = 'dang-inner-html']")

In [198]:
print(job_desc.text)

Job Role : Data Scientist/Data Analyst /Business Analyst

Location : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi

Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics
43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.

While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.

To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.
Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.
If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.

Call to schedule interview Monday -Saturday from 10:00 am to 7Pm

Manigandan -+91 7299917200

Email : manigandan@centerforaia.com

What is needed from you?

Freshers who wish to start their career in Analytics and AI and professionals who wish to
upskill or change their domain to analytics and emerging technologies are free to apply.
An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA
Skills relating to Mathematics/Statistics.
Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization
Good verbal and written communication skills
Ability to understand domains in businesses across various sectors


Selection procedure includes

Aptitude Test & Communication Exam - Online / Offline
SQL/Python test - Online / Offline

Candidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.


All the Shortlisted candidates will be eligible to continue the corporate training with CAIA
What you can expect from us?

You will get trained on the following modules for a period of 12-14 weeks:

SQL & PLSQL
Data Wrangling using Python
Data Visualization Using Power-BI
Statistics for Machine Learning
Artificial Intelligence, Data Interpretation
Supervised & Unsupervised Learning,
NLP & Deep Learning
Cloud Data Lake
Business intelligence & Data Visualization
Simulation Projects
Expected Outcome?

At the end of the Training you are expected to be well versed with the following:

Analysis of large and complex data sets from multiple sources
Development and evaluation of data analytics models, algorithms and solutions
Understanding/implementation of ML algorithms, performance tuning and reporting
Implementation of algorithms to mine targeted data and the ability to convert data in to a business story
Translation of business requirements into technical requirements; Data extraction, preparation and transformation
Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization
Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders
Finding analytical solutions to abstract business issues.
Apply objective analysis of facts before coming to a conclusion

About CAIA - Inflexion Analytix Private Limited

Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.
Digital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.
Our Website : http://www.centerforaia.com/

https://inflexion-analytix-private-limited.business.site/?m=true

Center for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:

1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics
2. Advanced Training programs for readying the future ready workforce
3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.

In [199]:
url_a= 'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16208893095762212&xp=1&px=1'
url_b= 'https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-2-to-7-years-280421602475?src=jobsearchDesk&sid=16208916703337589&xp=2&px=1'
url_c= 'https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-2-to-7-years-280421002473?src=jobsearchDesk&sid=16208916703337589&xp=3&px=1'
url_d= 'https://www.naukri.com/job-listings-analytics-ai-product-mgmt-sr-data-scientist-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-10-to-12-years-290421901995?src=jobsearchDesk&sid=16208916703337589&xp=4&px=1'
url_e= 'https://www.naukri.com/job-listings-senior-data-scientist-vijaya-management-services-pune-chennai-bangalore-bengaluru-5-to-10-years-290421005579?src=jobsearchDesk&sid=16208916703337589&xp=5&px=1'
url_f= 'https://www.naukri.com/job-listings-senior-data-scientist-modeling-nielsen-kolkata-gurgaon-gurugram-bangalore-bengaluru-vadodara-baroda-mumbai-all-areas-3-to-7-years-280421003878?src=jobsearchDesk&sid=16208916703337589&xp=6&px=1'
url_g= 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-040521900448?src=jobsearchDesk&sid=16208916703337589&xp=7&px=1'
url_h= 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-4-to-9-years-300421904650?src=jobsearchDesk&sid=16208916703337589&xp=8&px=1'
url_i= 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-030521900421?src=jobsearchDesk&sid=16208916703337589&xp=9&px=1'
url_j= 'https://www.naukri.com/job-listings-senior-data-scientist-credit-risk-scienaptic-systems-bangalore-bengaluru-5-to-10-years-030521500996?src=jobsearchDesk&sid=16208916703337589&xp=10&px=1'

Observed that few job listings open on differnet kind of html script, so cannot create one loop for all.

There fore breaking the loops into loops with similar class in html.

In [200]:
url_1 = [url_a,url_b,url_c]
url_2 = [url_d]
url_3 = [url_e,url_f]
url_4 = [url_g,url_h,url_i]
url_5 = [url_j]

In [201]:
description = []

In [202]:
def abc(url,x):
    driver.get(url)
    job_desc = driver.find_element_by_xpath(x)
    description.append(job_desc.text)

In [203]:
path1 = "//div[@class='dang-inner-html']"
path2 = "//div[@class='clearboth description']"

In [204]:
for i in url_1:
    abc(i,path1)

In [205]:
len(description)

3

In [206]:
description

["Job Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.",
 'Roles and Responsibilities\n\nMandatory Skills\n- Python Programming\n- Strong OOPS Concepts\n- Strong knowledge in CS fundamentals - Datastructures, algorithm design & Problem-solving\n- Experience in workflow management platforms like - Apache Airflow, pachyderm, MLFlow\n- AWS Lambda, Step Functions, State Machines, setting up data pipelines.\n- Must have experience in working in a Rapid Prototyping environment. Be able to take the initiative and work with minimum guidance and requirements.\nNice to Have\nExperience in Machine Learning - Pandas, Scikit-Learn, EDA, PCA, other Data preprocessing techniques\nExperience in any Infrastructure as code platform like Terraform, AWS CloudFormation.\nOther Pre-Requisites\nMust be extremely detail and technology-oriented and possess excellent communications skills.\nMust have experience and be willing to work in a Rapid Prototyping environment as well.\nProactive, driven individual with a strong work ethics\nMust be able to take complete ownership of tasks in the project.\nPassion for achieving excellence in technical, process, product quality and reliability.\nStrong in troubleshooting and root cause analysis abilities\nPerks and Benefits\n\nKindly share your resume to kandavelkumar.lakshmanan @cesltd.com',
 'Roles and Responsibilities\n\nMandatory Skills\n- Python Programming\n- Strong OOPS Concepts\n- Strong knowledge in CS fundamentals - Datastructures, algorithm design & Problem-solving\n- Experience in workflow management platforms like - Apache Airflow, pachyderm, MLFlow\n- AWS Lambda, Step Functions, State Machines, setting up data pipelines.\n- Must have experience in working in a Rapid Prototyping environment. Be able to take the initiative and work with minimum guidance and requirements.\nNice to Have\nExperience in Machine Learning - Pandas, Scikit-Learn, EDA, PCA, other Data preprocessing techniques\nExperience in any Infrastructure as code platform like Terraform, AWS CloudFormation.\nOther Pre-Requisites\nMust be extremely detail and technology-oriented and possess excellent communications skills.\nMust have experience and be willing to work in a Rapid Prototyping environment as well.\nProactive, driven individual with a strong work ethics\nMust be able to take complete ownership of tasks in the project.\nPassion for achieving excellence in technical, process, product quality and reliability.\nStrong in troubleshooting and root cause analysis abilities\nPerks and Benefits\n\nKindly share your resume to kandavelkumar.lakshmanan @cesltd.com']

In [207]:
for i in url_2:
    abc(i,path2)

In [208]:
len(description)

4

In [209]:
description[3]

'Given the increased focus on data and analytics, we need additional brains to ensure the right AI/ML design criteria are made. For this reason, the role of Senior Data Scientist has been added.\nIn the emerging data and analytics world, AI/ML plays a key role, and the Senior Data Scientist must be a creative thinker and propose innovative ways to look at problems by using data mining approaches on the set of information available. They will need to validate their findings using an experimental and iterative process. These approaches involve trial and error and may require multiple cycles, so are best addressed using iterative development methods such as agile or lean. Innovation happens at cross-roads; the Senior Data Scientist can bring substantial in-depth knowledge from his/her field to other areas.\nThis role will provide YOU the opportunity to lead key activities to progress YOUR career. These responsibilities include some of the following.\nSenior Data Scientist is accountable for delivering various AI/ML capabilities and projects, including business as usual operations for Vx tech organization. They need to ensure that they are focused on delivering value at optimal cost while ensuring that GSK Tech is looking far enough into the future to guide the business.\nAccountable for all the business process identified in the scope below and contributing to the development of our AI/ML capabilities Strategy. In your role, you will collaborate with other functional teams and digital innovation team to ensure the optimal portfolio of applications exists to support the business.\nResponsibilities:\nIdentify critical business problems and create analytical/modelling solutions while maintaining the right balance between speed to market and analytical soundness when designing solutions.\nInfluence machine learning strategy for a program/project; explores design options to assess efficiency and impact, develop approaches to improve robustness and rigour.\nBe a key contributor to the planning and direction of a project and effectively prioritize goals.\nLead discussions at peer review and uses quantitative skills to positively influence decision making.\nRepresent GSK externally to advance technical capability across the Industry.\nIdentify opportunities to apply the latest advancements in Machine Learning and Artificial Intelligence to the fields of biology, chemistry, and medicine.\nCreate algorithms to extract information from large, multiparametric data sets.\nDeploy your algorithms to production to identify actionable insights from large databases.\nCompare results from various methodologies and recommend best techniques to stake holders.\nDesign, develop and implement analytical solutions using a variety of commercial and open source tools (common tools include Python, R, TensorFlow).\nDevelop and embed automated processes for predictive model validation, deployment, and implementation.\nConnect and collaborate with subject matter experts in R&D, GIO-Q, Commercial and Medical.\nMake impactful contributions to internal discussions on emerging machine learning methodologies.\nEducate the organization both from IT and the business perspectives on these new approaches, such as testing hypotheses and statistical validation of results.\nProvide thought leadership: facilitate cross-geography fertilization of ideas and implements key principles/best-practices and guidelines across the categories.\nEnable the future BI / Analytics infrastructure and self-service model.\nDemonstrate a combination of business focus, strong analytical and problem-solving skills and programming knowledge to be able to quickly cycle hypothesis through the discovery phase of the project and excellent written and communications skills to report back the findings in a clear, structured manner.\nWe are looking for a Sr Data Scientist and if you have these skills, we would like to speak to you.\nA higher degree (PhD preferred) in Engineering, Statistics, Data Science, Applied Mathematics, Computer Science, Physics, Bioinformatics, Computational Biology, Computational Chemistry or related quantitative field\n10+ years of experience in any at least 2 of the AI domains: NLP, NLG, Computer Vision, etc.\nExperience with Quantum AI/ML, federated AI/ML, or Encrypted AI/ML big plus\nKnowledge of Cloud (Azure or AWS or Google Cloud) platform infrastructure and on-prem to run and optimize distributed data applications\nExperience understanding of a programming language such as Python.\nExperience with at least one deep learning framework such as TensorFlow, Keras, or PyTorch\nExperience/Familiarity with standard deep learning algorithms (CNN, LSTM, etc.)\nExperience with AI/ML Devops and CI/CD\nExperience producing high-quality code, tests, documentation'

In [210]:
for i in url_3:
    abc(i,path1)
    
print(len(description))

6

In [211]:
for i in url_4:
    abc(i,path2)
    
print(len(description))

9

In [212]:
for i in url_5:
    abc(i,path1)
    
print(len(description))

10

In [213]:
Naukri1 = pd.DataFrame({'Title':titles1,'Company':company1,'Location':location1,'Job Description':description})

Naukri1.shape

(10, 4)

In [214]:
Naukri1.isnull()

   Title  Company  Location  Job Description
0  False    False     False            False
1  False    False     False            False
2  False    False     False            False
3  False    False     False            False
4  False    False     False            False
5  False    False     False            False
6  False    False     False            False
7  False    False     False            False
8  False    False     False            False
9  False    False     False            False

No null values are recorded which meanss that the data has been scraped successffully.

In [215]:
Naukri1.iloc[3:7,:]

,Title,Company,Location,Job Description
3,Analytics & AI Product Mgmt - Sr. Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,Given the increased focus on data and analytic...
4,Senior Data Scientist,Vijaya Management Services,"Pune, Chennai, Bangalore/Bengaluru",.\nRoles and Responsibilities\nAnalyze structu...
5,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...","We wont say we can predict the future, but our..."
6,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",As a Data Scientist in the IBM Garage team you...

In [216]:
print(Naukri1['Job Description'][4])

.
Roles and Responsibilities
Analyze structured and unstructured data at scale to derive new insights and opportunities.
Build and validate predictive models.
Advise clients and project teams on leading data science practices.
Create data-driven business recommendations.
Contribute to internal research and development efforts in cutting edge areas including NLP, graph analytics, and deep learning / AI.
Skills and attributes for success
Fostering an innovative and inclusive team-oriented work environment
Leading and coaching diverse teams of professionals with different backgrounds
Demonstrating in-depth technical capabilities and professional knowledge
Establishing strong relationships with the clients
Working in an entrepreneurial environment to pave your own career path


Desired Candidate Profile

A MSc in a technical field like Computer Science, Econometrics, Mathematics, Engineering, or a related field .
3+ years practical experience with advanced machine learning techniques and big data technologies.
3+ years working with data and relevant computational frameworks and systems.
An understanding of the latest industry developments in Big Data and AI such as graph databases, Natural Language Processing, and neural networks.
A thorough understanding of common languages and libraries used in machine learning (such as Spark or Python. Experience with big data tools, Hive, Databricks, Neo4j, etc. a plus)
Excellent business, communication, and presentation skills (experience in health insurance services domains a plus, but not required)
The ability to translate complex information into non-technical, easy to understand language.
Ideally, you will also have
A PhD in a technical field like Computer Science, Econometrics, Mathematics, Engineering, or a related field
Perks and Benefits
Annual CTC: Rupees 5,00,000 to 15,00,000 (willing to pay more if have good experience)

In [217]:
Naukri1['Job Description'][4]

'.\nRoles and Responsibilities\nAnalyze structured and unstructured data at scale to derive new insights and opportunities.\nBuild and validate predictive models.\nAdvise clients and project teams on leading data science practices.\nCreate data-driven business recommendations.\nContribute to internal research and development efforts in cutting edge areas including NLP, graph analytics, and deep learning / AI.\nSkills and attributes for success\nFostering an innovative and inclusive team-oriented work environment\nLeading and coaching diverse teams of professionals with different backgrounds\nDemonstrating in-depth technical capabilities and professional knowledge\nEstablishing strong relationships with the clients\nWorking in an entrepreneurial environment to pave your own career path\n\n\nDesired Candidate Profile\n\nA MSc in a technical field like Computer Science, Econometrics, Mathematics, Engineering, or a related field .\n3+ years practical experience with advanced machine learning techniques and big data technologies.\n3+ years working with data and relevant computational frameworks and systems.\nAn understanding of the latest industry developments in Big Data and AI such as graph databases, Natural Language Processing, and neural networks.\nA thorough understanding of common languages and libraries used in machine learning (such as Spark or Python. Experience with big data tools, Hive, Databricks, Neo4j, etc. a plus)\nExcellent business, communication, and presentation skills (experience in health insurance services domains a plus, but not required)\nThe ability to translate complex information into non-technical, easy to understand language.\nIdeally, you will also have\nA PhD in a technical field like Computer Science, Econometrics, Mathematics, Engineering, or a related field\nPerks and Benefits\nAnnual CTC: Rupees 5,00,000 to 15,00,000 (willing to pay more if have good experience)'

In [218]:
Naukri1['Job Description'][3]

'Given the increased focus on data and analytics, we need additional brains to ensure the right AI/ML design criteria are made. For this reason, the role of Senior Data Scientist has been added.\nIn the emerging data and analytics world, AI/ML plays a key role, and the Senior Data Scientist must be a creative thinker and propose innovative ways to look at problems by using data mining approaches on the set of information available. They will need to validate their findings using an experimental and iterative process. These approaches involve trial and error and may require multiple cycles, so are best addressed using iterative development methods such as agile or lean. Innovation happens at cross-roads; the Senior Data Scientist can bring substantial in-depth knowledge from his/her field to other areas.\nThis role will provide YOU the opportunity to lead key activities to progress YOUR career. These responsibilities include some of the following.\nSenior Data Scientist is accountable for delivering various AI/ML capabilities and projects, including business as usual operations for Vx tech organization. They need to ensure that they are focused on delivering value at optimal cost while ensuring that GSK Tech is looking far enough into the future to guide the business.\nAccountable for all the business process identified in the scope below and contributing to the development of our AI/ML capabilities Strategy. In your role, you will collaborate with other functional teams and digital innovation team to ensure the optimal portfolio of applications exists to support the business.\nResponsibilities:\nIdentify critical business problems and create analytical/modelling solutions while maintaining the right balance between speed to market and analytical soundness when designing solutions.\nInfluence machine learning strategy for a program/project; explores design options to assess efficiency and impact, develop approaches to improve robustness and rigour.\nBe a key contributor to the planning and direction of a project and effectively prioritize goals.\nLead discussions at peer review and uses quantitative skills to positively influence decision making.\nRepresent GSK externally to advance technical capability across the Industry.\nIdentify opportunities to apply the latest advancements in Machine Learning and Artificial Intelligence to the fields of biology, chemistry, and medicine.\nCreate algorithms to extract information from large, multiparametric data sets.\nDeploy your algorithms to production to identify actionable insights from large databases.\nCompare results from various methodologies and recommend best techniques to stake holders.\nDesign, develop and implement analytical solutions using a variety of commercial and open source tools (common tools include Python, R, TensorFlow).\nDevelop and embed automated processes for predictive model validation, deployment, and implementation.\nConnect and collaborate with subject matter experts in R&D, GIO-Q, Commercial and Medical.\nMake impactful contributions to internal discussions on emerging machine learning methodologies.\nEducate the organization both from IT and the business perspectives on these new approaches, such as testing hypotheses and statistical validation of results.\nProvide thought leadership: facilitate cross-geography fertilization of ideas and implements key principles/best-practices and guidelines across the categories.\nEnable the future BI / Analytics infrastructure and self-service model.\nDemonstrate a combination of business focus, strong analytical and problem-solving skills and programming knowledge to be able to quickly cycle hypothesis through the discovery phase of the project and excellent written and communications skills to report back the findings in a clear, structured manner.\nWe are looking for a Sr Data Scientist and if you have these skills, we would like to speak to you.\nA higher degree (PhD preferred) in Engineering, Statistics, Data Science, Applied Mathematics, Computer Science, Physics, Bioinformatics, Computational Biology, Computational Chemistry or related quantitative field\n10+ years of experience in any at least 2 of the AI domains: NLP, NLG, Computer Vision, etc.\nExperience with Quantum AI/ML, federated AI/ML, or Encrypted AI/ML big plus\nKnowledge of Cloud (Azure or AWS or Google Cloud) platform infrastructure and on-prem to run and optimize distributed data applications\nExperience understanding of a programming language such as Python.\nExperience with at least one deep learning framework such as TensorFlow, Keras, or PyTorch\nExperience/Familiarity with standard deep learning algorithms (CNN, LSTM, etc.)\nExperience with AI/ML Devops and CI/CD\nExperience producing high-quality code, tests, documentation'

The data has been scraped and successfully stored in 'Naukri1' variable

## Q3 
In this question you have to scrape data using the filters available on the webpage

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company_name, experience_required.

The location filter to be used is “Delhi/NCR”

The salary filter to be used is “3-6” lakhs

In [219]:
url = 'https://www.naukri.com/'
driver.get(url)

search_title = driver.find_element_by_id('qsb-keyword-sugg')

search_title.send_keys('Data Scientist')


search_btn = driver.find_element_by_xpath("//button[@class='btn']")

search_btn.click()

In [220]:
filter_1 = driver.find_element_by_xpath("//label[@for = 'chk-Delhi / NCR-cityTypeGid-']//i")

filter_1.click()

In [221]:
filter_2 = driver.find_element_by_xpath("//label[@for = 'chk-3-6 Lakhs-ctcFilter-']//i")

filter_2.click()

In [222]:
name2 = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

name2

titles2 = []

num = 1
for i in name2:
    if num <=10:
        titles2.append(i.text)
        num+=1
    else:
        break
        
print(titles2[:5])

len(titles2)

['Data Scientist / Data Analyst -Business Analyst', 'Data Scientist', 'Excellent opportunity For Data Scientist', 'Data Scientist', 'DATA Scientist – Gurgaon (Exp 3-6 years)']

10

In [223]:
companies2 = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies2

company2 = []

num = 1
for i in companies2:
    if num <=10:
        company2.append(i.text)
        num+=1
    else:
        break

print(company2[0:5])

len(company2)

['Inflexion Analytix Private Limited', 'IBM India Pvt. Limited', 'NEC CORPORATION INDIA PRIVATE LIMITED', 'Mobikwik', 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED']

10

In [224]:
place2 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

place2


location2 = []

num = 1
for i in place2:
    if num <=10:
        location2.append(i.text)
        num+=1
    else:
        break

print(len(location2))
        
location2[:5]

10

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR']

In [225]:
exp2 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

exp2


experience2 = []

num = 1
for i in exp2:
    if num <=10:
        experience2.append(i.text)
        num+=1
    else:
        break

print(experience2[0:5])

len(experience2)

['0-3 Yrs', '4-9 Yrs', '3-7 Yrs', '3-5 Yrs', '3-6 Yrs']

10

In [226]:
Naukri2 = pd.DataFrame({'Title':titles2,'Company':company2,'Location':location2,'Experience':experience2})

Naukri2.shape

(10, 4)

In [227]:
Naukri2.sample(5)

,Title,Company,Location,Experience
4,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
3,Data Scientist,Mobikwik,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",3-5 Yrs
8,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
2,Excellent opportunity For Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,"Noida, Bangalore/Bengaluru",3-7 Yrs

The data has been scraped and saved in Naukri2 variable

## Q4
Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:

1. first get the webpage https://www.glassdoor.co.in/index.htm

2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.

In [228]:
url4 = 'https://www.glassdoor.co.in/index.htm'

driver.get(url4)

In [233]:
search_title = driver.find_element_by_id("sc.keyword")

In [234]:
search_title.send_keys('Data Scientist')

In [235]:
search_location = driver.find_element_by_id("sc.location")
search_location.send_keys('Noida')

In [236]:
search_btn = driver.find_element_by_xpath("//button[@class = 'gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [250]:
name4 = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")

name4

titles4 = []

num = 1
for i in name4:
    if num <=10:
        titles4.append(i.text)
        num+=1
    else:
        break
        
print(titles4[:5])

len(titles4)

['Biz2Credit Inc', 'UnitedHealth Group', 'HDFC Bank', 'CRMNEXT', 'Adobe']

10

In [251]:
days4 = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

days4

posted4 = []

num = 1
for i in days4:
    if num <=10:
        posted4.append(i.text)
        num+=1
    else:
        break
        
print(posted4[:5])

len(posted4)

['30d+', '30d+', '30d+', '6d', '24h']

10

In [252]:
rat4 = driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")

rat4

ratings4 = []

num = 1
for i in rat4:
    if num <=10:
        ratings4.append(i.text)
        num+=1
    else:
        break
        
print(ratings4[:5])

len(ratings4)

['3.8', '3.6', '3.6', '3.6', '4.4']

10

In [253]:
glassdoor = pd.DataFrame({'Title':titles4,'Posted':posted4,'Rating':ratings4})

glassdoor.shape

(10, 3)

In [254]:
glassdoor

                          Title Posted Rating
0                Biz2Credit Inc   30d+    3.8
1            UnitedHealth Group   30d+    3.6
2                     HDFC Bank   30d+    3.6
3                       CRMNEXT     6d    3.6
4                         Adobe    24h    4.4
5                         Adobe    18d    4.4
6  Salasar New Age Technologies   30d+
7                      Ericsson     8d    4.1
8                       WishFin   30d+    3.8
9                     dunnhumby     6d    4.1

we can observe that one company doesnt have a rating

## Q5
Write a python program to scrape the salary data for Data Scientist designation in Noida location.

You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.

Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary of the company.

In [256]:
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')
url5 = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url5)

In [257]:
search_title = driver.find_element_by_id("KeywordSearch")
search_title.send_keys('Data Scientist')

search_location = driver.find_element_by_id("LocationSearch")
search_location.send_keys('Noida')

search_btn = driver.find_element_by_xpath("//button[@class = 'gd-btn-mkt']")
search_btn.click()

In [261]:
name5 = driver.find_elements_by_xpath("//div[@data-test='job-info']//p[2]")

name5

titles5 = []

num = 1
for i in name5:
    if num <=10:
        titles5.append(i.text)
        num+=1
    else:
        break
        
print(titles5[:5])

len(titles5)

['Tata Consultancy Services', 'IBM', 'Ericsson-Worldwide', 'Delhivery', 'Accenture']

10

In [276]:
avg5 = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

avg5

avgsal5 = []

num = 1
for i in avg5:
    if num <=10:
        avgsal5.append(i.text.replace('\n',''))
        num+=1
    else:
        break
        
print(avgsal5[:5])

len(avgsal5)

['₹ 5,97,967/yr', '₹ 8,79,486/yr', '₹ 7,15,984/yr', '₹ 12,12,741/yr', '₹ 10,97,744/yr']

10

In [264]:
min5 = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[1]")

min5

minsal5 = []

num = 1
for i in min5:
    if num <=10:
        minsal5.append(i.text)
        num+=1
    else:
        break
        
print(minsal5[:5])

len(minsal5)

['₹333K', '₹569K', '₹350K', '₹436K', '₹560K']

10

In [265]:
max5 = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[2]")

max5

maxsal5 = []

num = 1
for i in max5:
    if num <=10:
        maxsal5.append(i.text)
        num+=1
    else:
        break
        
print(maxsal5[:5])

len(maxsal5)

['₹1,080K', '₹2,648K', '₹1,565K', '₹11,274K', '₹2,147K']

10

In [266]:
no5 = driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")

no5

nosal5 = []

num = 1
for i in no5:
    if num <=10:
        nosal5.append(i.text)
        num+=1
    else:
        break
        
print(nosal5[:5])

len(nosal5)

['16 salaries', '14 salaries', '14 salaries', '14 salaries', '13 salaries']

10

In [277]:
glassdoor1 = pd.DataFrame({'Company':titles5,'Number of Salaries':nosal5,'Average Salary':avgsal5,'Minimum Salary':minsal5,'Maximum Salary':maxsal5})

glassdoor1.shape

(10, 5)

In [279]:
glassdoor1

,Company,Number of Salaries,Average Salary,Minimum Salary,Maximum Salary
0,Tata Consultancy Services,16 salaries,"₹ 5,97,967/yr",₹333K,"₹1,080K"
1,IBM,14 salaries,"₹ 8,79,486/yr",₹569K,"₹2,648K"
2,Ericsson-Worldwide,14 salaries,"₹ 7,15,984/yr",₹350K,"₹1,565K"
3,Delhivery,14 salaries,"₹ 12,12,741/yr",₹436K,"₹11,274K"
4,Accenture,13 salaries,"₹ 10,97,744/yr",₹560K,"₹2,147K"
5,UnitedHealth Group,11 salaries,"₹ 12,96,182/yr","₹1,037K","₹1,500K"
6,Valiance Solutions,9 salaries,"₹ 7,90,812/yr",₹487K,"₹1,421K"
7,ZS Associates,8 salaries,"₹ 11,19,962/yr",₹196K,"₹1,755K"
8,EXL Service,8 salaries,"₹ 11,10,022/yr",₹558K,"₹1,500K"
9,Optum Global Solutions,8 salaries,"₹ 13,93,451/yr","₹1,000K","₹2,085K"

## Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. 

You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [282]:
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')

In [284]:
url6 = 'https://www.flipkart.com/'

driver.get(url6)

In [285]:
search_product = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_product.send_keys('sunglasses')

In [286]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [287]:
brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [289]:
len(brands)

40

In [295]:
desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]")

In [296]:
len(desc)

40

In [297]:
prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [298]:
len(prices)

40

In [299]:
discounts = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']//span")

In [300]:
len(discounts)

40

In [301]:
Brand = []
Description =[]
Price =[]
Discount = []

In [302]:
for i in brands:
    Brand.append(i.text)

In [304]:
len(Brand)

40

In [305]:
for i in desc:
    Description.append(i.text)

In [308]:
Description[:5]

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)']

In [309]:
for i in prices:
    Price.append(i.text)

In [310]:
Price[35:]

['₹279', '₹5,059', '₹549', '₹621', '₹404']

In [311]:
for i in discounts:
    Discount.append(i.text)

In [312]:
Discount[35:]

['81% off', '31% off', '63% off', '22% off', '79% off']

In [314]:
next_btn = driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")

In [315]:
next_btn.click()

In [316]:
brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]")
prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discounts = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']//span")

for i in brands:
    Brand.append(i.text)
    
for i in desc:
    Description.append(i.text)
    
for i in prices:
    Price.append(i.text)
    
for i in discounts:
    Discount.append(i.text)
    
print(len(Brand),len(Description),len(Price),len(Discount))

80 80 80 80

In [317]:
next_btn.click()

In [320]:
brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]")
prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discounts = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']//span")

for i in brands:
    if len(Brand) <= 100:
        Brand.append(i.text)
    else:
        break
    
for i in desc:
    if len(Description) <= 100:
        Description.append(i.text)
    else:
        break

for i in prices:
    if len(Price) <= 100:
        Price.append(i.text)
    else:
        break
    
for i in discounts:
    if len(Discount) <= 100:
        Discount.append(i.text)
    else:
        break
    
print(len(Brand),len(Description),len(Price),len(Discount))

101 101 101 101

Since, we used the if condition with len <=100, the loop didnt break at 100, came out of the loop after scraping 101 element.

Removing the 101 row while creating a dataframe

In [326]:
sunglasses = pd.DataFrame({'Brand':Brand[:100],'Description':Description[:100],'Price':Price[:100],'Discount':Discount[:100]})

In [327]:
sunglasses.shape

(100, 4)

In [328]:
sunglasses.isnull().sum()

Brand          0
Description    0
Price          0
Discount       0
dtype: int64

There are no null values recorded.

In [329]:
sunglasses.head()

,Brand,Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹250,84% off
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
2,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
4,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off

## Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. 

You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [480]:
url7 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

In [664]:
driver.get(url7)

In [665]:
all_r_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
all_r_btn.click()

time.sleep(2)

In [666]:
Rating = []
Summary =[]
Review = []

In [667]:
ratings = driver.find_elements_by_xpath("//div[@class = '_3LWZlK _1BLPMq']")

In [668]:
for i in ratings:
    Rating.append(i.text)

In [669]:
len(Rating)

10

In [670]:
short_rev = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
len(short_rev)

10

In [671]:
for i in short_rev:
    Summary.append(i.text)

In [672]:
full_r = driver.find_elements_by_xpath("//div[@class = 't-ZTKy']")
len(full_r)

10

In [673]:
for i in full_r:
    Review.append(i.text)

In [674]:
print(len(Rating),len(Summary),len(Review))

10 10 10

In [675]:
next_btn = driver.find_element_by_xpath("//a[@class = '_1LKTO3']//span")
next_btn.click()

time.sleep(2)

In [676]:
while len(Rating) < 100:
    ratings = driver.find_elements_by_xpath("//div[@class='row']//div[starts-with(@class,'_3LWZlK')]")
    
    len(ratings)
    time.sleep(3)
    
    for i in ratings:
        Rating.append(i.text)
        
    time.sleep(1)
    
    print('Rating ',len(Rating))
    
    short_rev = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    time.sleep(2)
    
    for i in short_rev:
        Summary.append(i.text)
        
    time.sleep(1)
    
    print('Summary ',len(Summary))

    full_r = driver.find_elements_by_xpath("//div[@class = 't-ZTKy']")
    time.sleep(2)
    
    for i in full_r:
        Review.append(i.text)
        
    time.sleep(1)
        
    print('Review',len(Review))
    
    next_btn1 = driver.find_element_by_xpath("//a[@class = '_1LKTO3'][2]//span")
    next_btn1.click()
    
    time.sleep(3)

Rating  20
Summary  20
Review 20
Rating  30
Summary  30
Review 30
Rating  40
Summary  40
Review 40
Rating  50
Summary  50
Review 50
Rating  60
Summary  60
Review 60
Rating  70
Summary  70
Review 70
Rating  80
Summary  80
Review 80
Rating  90
Summary  90
Review 90
Rating  100
Summary  100
Review 100

The data has been scraped. Lets save it as dataframe andd check for duplicates if the loop worked or not.

In [678]:
iphone_review = pd.DataFrame({'Rating':Rating,'Summary':Summary,'Review':Review})

In [679]:
iphone_review.shape

(100, 3)

In [680]:
iphone_review.duplicated().sum()

0

no rows are duplicated. the loop worked as expected with giving the webpages some time to load.

In [683]:
iphone_review.sample(5)

,Rating,Summary,Review
16,5,Highly recommended,It's my first time to use iOS phone and I am l...
15,5,Terrific,Really worth of money. i just love it. It is t...
88,5,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
10,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
31,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."

## Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [748]:
url8 = 'https://www.flipkart.com/'

driver.get(url8)

In [749]:
search_product = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_product.send_keys('sneakers')

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(2)

In [750]:
Brand = []
Description =[]
Price =[]
Discount = []

import numpy as np

In [751]:

    brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    time.sleep(1)
    
    for i in brands:
        if len(Brand) < 100:
            Brand.append(i.text)
        else:
            break
            
    desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]")
    
    time.sleep(1)
    
    for i in desc:
        if len(Description) < 100:
            Description.append(i.text)
        else:
            break
            
    time.sleep(1)
            
    prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    time.sleep(1)
    
    for i in prices:
        if len(Price) < 100:
            Price.append(i.text)
        else:
            break
            
    time.sleep(1)
            
    discounts = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']//span")
    
    time.sleep(1)
    
    
    for i in discounts:
        if len(Discount) == 37: #there is one product with no discount at 37th position in the products page
            Discount.append(np.nan)
            pass
           
        if len(Discount) <100 :
            Discount.append(i.text)
                
        else:
            break
            
    time.sleep(1)
    
    
    j = 1
    if j == 1:
        next_btn = driver.find_element_by_xpath("//a[@class = '_1LKTO3']//span")
        next_btn.click()
        
        time.sleep(3)
        
        j+=1
    else:
        next_btn1 = driver.find_element_by_xpath("//a[@class = '_1LKTO3'][2]//span")
        next_btn1.click()
        
        time.sleep(3)

    time.sleep(2) 

    print(len(Brand),len(Description),len(Price),len(Discount))

40 40 40 40

In [752]:
Discount[39]

'60% off'

In [753]:
Discount[:40]

['60% off',
 '60% off',
 '52% off',
 '70% off',
 '55% off',
 '77% off',
 '43% off',
 '85% off',
 '65% off',
 '52% off',
 '57% off',
 '58% off',
 '46% off',
 '54% off',
 '65% off',
 '40% off',
 '57% off',
 '78% off',
 '60% off',
 '74% off',
 '62% off',
 '55% off',
 '55% off',
 '44% off',
 '30% off',
 '62% off',
 '85% off',
 '50% off',
 '52% off',
 '70% off',
 '15% off',
 '55% off',
 '20% off',
 '69% off',
 '62% off',
 '53% off',
 '81% off',
 nan,
 '27% off',
 '60% off']

In [755]:
while len(Brand) < 100:
    brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    time.sleep(1)
    
    for i in brands:
        if len(Brand) < 100:
            Brand.append(i.text)
        else:
            break
            
    desc = driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]")
    
    time.sleep(1)
    
    for i in desc:
        if len(Description) < 100:
            Description.append(i.text)
        else:
            break
            
    time.sleep(1)
            
    prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    time.sleep(1)
    
    for i in prices:
        if len(Price) < 100:
            Price.append(i.text)
        else:
            break
            
    time.sleep(1)
            
    discounts = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']//span")
    
    time.sleep(1)
    
    
    for i in discounts:
        if len(Discount) == 37: #there is one product with no discount at 37th position in the products page
            Discount.append(np.nan)
            pass
           
        if len(Discount) <100 :
            Discount.append(i.text)
                
        else:
            break
            
    time.sleep(1)
    
    
    next_btn1 = driver.find_element_by_xpath("//a[@class = '_1LKTO3'][2]//span")
    next_btn1.click()
        
    time.sleep(3)

    print(len(Brand),len(Description),len(Price),len(Discount))

80 80 80 80
100 100 100 100

In [757]:
flip_sneakers = pd.DataFrame({'Brand':Brand,'Description':Description,'Price':Price,'Discount':Discount})

print(flip_sneakers.shape)

flip_sneakers.iloc[35:40,:]

(100, 4)

,Brand,Description,Price,Discount
35,ESSENCE,Sneakers For Men,₹468,53% off
36,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,81% off
37,SPARX,SM439G Sneakers For Men,₹699,NaN
38,SPARX,SM-482 Sneakers For Men,₹975,27% off
39,oxpeo,Colourblocked Trending Multicolor Ultralight c...,₹398,60% off

## Q9: Go to the link - https://www.myntra.com/shoes

Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [980]:
url9 = 'https://www.myntra.com/shoes'

driver.get(url9)

In [981]:
price_filter = driver.find_element_by_xpath("//ul[@class = 'price-list']//li[2]//label[@class='common-customCheckbox vertical-filters-label']//div")
price_filter.click()

In [982]:
color_filter = driver.find_element_by_xpath("//li[@class = 'colour-listItem'][1]//label//div")
color_filter.click()

In [983]:
brands = driver.find_elements_by_xpath("//a[@target='_blank']//div[@class='product-productMetaInfo']//h3[@class='product-brand']")

In [984]:
Brand = []

for i in brands:
    Brand.append(i.text)
    
len(Brand)

50

In [985]:
ssd = driver.find_elements_by_xpath("//a[@target='_blank']//div[@class='product-productMetaInfo']//h4[@class='product-product']")

In [986]:
Short_desc = []

for i in ssd:
    Short_desc.append(i.text)
    
len(Short_desc)

50

In [987]:
prices = driver.find_elements_by_xpath("//div[@class='product-price']")

In [988]:
len(prices)

50

In [989]:
Price =[]

for i in prices:
    Price.append(i.text.replace('Rs.',''))
    
len(Price)

50

In [1013]:
Price

[' 12495',
 ' 11495',
 ' 10496 14995(30% OFF)',
 ' 12995',
 ' 8449 12999(35% OFF)',
 ' 10995',
 ' 7721 10295(25% OFF)',
 ' 7999',
 ' 7496 9995(25% OFF)',
 ' 7206 10295(30% OFF)',
 ' 6996 9995( 30 % OFF)',
 ' 10846 15495(30% OFF)',
 ' 8396 11995(30% OFF)',
 ' 7999',
 ' 10121 13495(25% OFF)',
 ' 10999',
 ' 10999',
 ' 10999',
 ' 12999',
 ' 6799 7999(15% OFF)',
 ' 9999',
 ' 7199 8999(20% OFF)',
 ' 8999',
 ' 11999',
 ' 9999',
 ' 10999',
 ' 8999',
 ' 7999',
 ' 6999',
 ' 7999',
 ' 10999',
 ' 10999',
 ' 9999',
 ' 9999',
 ' 9975 10500(5% OFF)',
 ' 6999',
 ' 6999',
 ' 6749 8999(25% OFF)',
 ' 7999 9999(20% OFF)',
 ' 7799 12999(40% OFF)',
 ' 8999',
 ' 9999',
 ' 7490',
 ' 7499',
 ' 9999',
 ' 7499',
 ' 6993 9990(30% OFF)',
 ' 12999',
 ' 11999',
 ' 11305 11900(5% OFF)']

In [990]:
x = []

for i in Price:
    x.append(i.split(' '))

In [991]:
x

[['', '12495'],
 ['', '11495'],
 ['', '10496', '14995(30%', 'OFF)'],
 ['', '12995'],
 ['', '8449', '12999(35%', 'OFF)'],
 ['', '10995'],
 ['', '7721', '10295(25%', 'OFF)'],
 ['', '7999'],
 ['', '7496', '9995(25%', 'OFF)'],
 ['', '7206', '10295(30%', 'OFF)'],
 ['', '6996', '9995(', '30', '%', 'OFF)'],
 ['', '10846', '15495(30%', 'OFF)'],
 ['', '8396', '11995(30%', 'OFF)'],
 ['', '7999'],
 ['', '10121', '13495(25%', 'OFF)'],
 ['', '10999'],
 ['', '10999'],
 ['', '10999'],
 ['', '12999'],
 ['', '6799', '7999(15%', 'OFF)'],
 ['', '9999'],
 ['', '7199', '8999(20%', 'OFF)'],
 ['', '8999'],
 ['', '11999'],
 ['', '9999'],
 ['', '10999'],
 ['', '8999'],
 ['', '7999'],
 ['', '6999'],
 ['', '7999'],
 ['', '10999'],
 ['', '10999'],
 ['', '9999'],
 ['', '9999'],
 ['', '9975', '10500(5%', 'OFF)'],
 ['', '6999'],
 ['', '6999'],
 ['', '6749', '8999(25%', 'OFF)'],
 ['', '7999', '9999(20%', 'OFF)'],
 ['', '7799', '12999(40%', 'OFF)'],
 ['', '8999'],
 ['', '9999'],
 ['', '7490'],
 ['', '7499'],
 ['', '9999'],
 ['', '7499'],
 ['', '6993', '9990(30%', 'OFF)'],
 ['', '12999'],
 ['', '11999'],
 ['', '11305', '11900(5%', 'OFF)']]

In [992]:
var = []
for i in range(len(x)):
    var.append(x[i][1])

In [979]:
var

['7496',
 '7999',
 '11495',
 '7206',
 '12495',
 '12995',
 '6996',
 '10846',
 '7721',
 '10496',
 '8396',
 '7999',
 '10121',
 '10999',
 '10999',
 '10999',
 '10995',
 '6999',
 '7199',
 '8999',
 '11999',
 '7499',
 '9999',
 '7999',
 '10999',
 '9999',
 '8999',
 '7999',
 '6999',
 '6799',
 '7999',
 '9999',
 '10999',
 '10999',
 '12999',
 '6999',
 '6749',
 '7799',
 '8999',
 '9999',
 '7490',
 '7499',
 '9999',
 '6990',
 '11305',
 '9999',
 '6993',
 '12999',
 '11999',
 '9999']

In [993]:
next_btn = driver.find_element_by_xpath("//a[@rel = 'next']")
next_btn.click()

In [994]:
brands = driver.find_elements_by_xpath("//a[@target='_blank']//div[@class='product-productMetaInfo']//h3[@class='product-brand']")

for i in brands:
    Brand.append(i.text)
    
len(Brand)

99

In [995]:
ssd = driver.find_elements_by_xpath("//a[@target='_blank']//div[@class='product-productMetaInfo']//h4[@class='product-product']")

for i in ssd:
    Short_desc.append(i.text)
    
len(Short_desc)

99

In [998]:
prices = driver.find_elements_by_xpath("//div[@class='product-price']")

Price1 =[]

for i in prices:
    Price1.append(i.text.replace('Rs.',''))
    
len(Price1)

49

In [999]:
x = []

for i in Price1:
    x.append(i.split(' '))

In [1000]:
for i in range(len(x)):
    var.append(x[i][1])

In [1001]:
len(var)

99

In [1002]:
next_btn = driver.find_element_by_xpath("//a[@rel = 'next']")
next_btn.click()

In [1003]:
brands = driver.find_element_by_xpath("//a[@target='_blank']//div[@class='product-productMetaInfo']//h3[@class='product-brand']")

Brand.append(brands.text)
    
len(Brand)

100

In [1004]:
ssd = driver.find_element_by_xpath("//a[@target='_blank']//div[@class='product-productMetaInfo']//h4[@class='product-product']")

Short_desc.append(ssd.text)
    
len(Short_desc)

100

In [1007]:
prices = driver.find_element_by_xpath("//div[@class='product-price']")

x = prices.text.replace('Rs.','').split(' ')

In [1010]:
var.append(x[1])

In [1011]:
Myn_shoes = pd.DataFrame({'Brand':Brand,'Short_desc':Short_desc,'Price':var})

print(Myn_shoes.shape)

print(Myn_shoes.isnull().sum())

Myn_shoes.sample(5)

(100, 3)
Brand         0
Short_desc    0
Price         0
dtype: int64

               Brand                      Short_desc  Price
74            Reebok      Men Nano X1 Training Shoes   6999
86            Reebok  Unisex Zig Kinetica II Running   9999
67  ADIDAS Originals  Men Nite Jogger Fluid Sneakers   8449
96      UNDER ARMOUR   Women Charged Rogue 2 Running   7999
5               Nike       Men JORDAN DELTA Sneakers  10995

In [1012]:
Myn_shoes.head(10)

              Brand                      Short_desc  Price
0              Nike     Men JORDAN DELTA Basketball  12495
1              Nike  AIR ZOOM PEGASUS Running Shoes  11495
2              Nike       Men JOYRIDE Running Shoes  10496
3              Nike    Men KD13 EP Basketball Shoes  12995
4  ADIDAS Originals  Men Nite Jogger Fluid Sneakers   8449
5              Nike       Men JORDAN DELTA Sneakers  10995
6              Nike    Women AIR ZOOM Running Shoes   7721
7   PUMA Motorsport   Unisex Mercedes Running Shoes   7999
8              Nike  Women PEGASUS 37 Running Shoes   7496
9              Nike      Men AIR ZOOM Running Shoes   7206

## Q10: Go to webpage https://www.amazon.in/
 
 Enter “Laptop” in the search field and then click the search icon.
 
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [1157]:
url10 = 'https://www.amazon.in/'

driver.get(url10)

In [1158]:
search_title = driver.find_element_by_xpath("//div[@class='nav-search-field ']//input")
search_title.send_keys('Laptop')

In [1159]:
search_btn = driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

In [1163]:
filter1 = driver.find_element_by_xpath("//ul[@aria-labelledby='p_n_feature_thirteen_browse-bin-title']//li[9]//label")

In [1164]:
filter1.click()

Not able to use two filter options under same criteria at a time. Therefore, using only one filter

In [1165]:
titles = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']//span[@class='a-size-medium a-color-base a-text-normal']")

In [1166]:
Title = []
num = 1
for i in titles:
    if num <= 10:
        Title.append(i.text)
        num+=1

In [1167]:
len(Title)

10

In [1168]:
Title[0:5]

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 'Lenovo Yoga S740 Intel Core i7 10th Gen 14 inch UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows/Office/NVIDIA MX250 2GB/Iron Grey/1.4Kg), 81RS00B0IN']

In [1169]:
prices = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [1170]:
Price = []
num = 1
for i in prices:
    if num <= 10:
        Price.append(i.text)
        num+=1

In [1171]:
len(Price)

10

In [1172]:
Price[0:5]

['53,999', '1,35,490', '36,990', '77,990', '78,493']

In [1177]:
url1 = 'https://www.amazon.in/Notebook-Horizon-i5-10210U-Graphics-XMA1904-AR/dp/B089F5JGM1/ref=sr_1_1?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-1'
url2 = 'https://www.amazon.in/Lenovo-Legion-Gaming-Windows-82AW005SIN/dp/B08CQ21154/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-2'
url3 = 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRHFV23/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-3'
url4 = 'https://www.amazon.in/Dell-15-6inch-i7-10750H-Warranty-D560250WIN9BE/dp/B08HYPRST4/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-4'
url5 = 'https://www.amazon.in/Lenovo-Laptop-Windows-Office-81RS00B0IN/dp/B08BSHBHZZ/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-5'
url6 = 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-6'
url7 = 'https://www.amazon.in/HP-Touchscreen-Computer-Quad-Core-Bluetooth/dp/B07WCTR386/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-7'
url9 = 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-9'
url10 = 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1621146915&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sr=1-10'

In [1178]:
url = [url1, url2, url3, url4, url5, url6, url7, url9, url10]

In [1184]:
Rating = []
k = 1

for i in url:
    driver.get(i)
    time.sleep(2)
    
    j = driver.find_element_by_xpath("//span[@class='a-declarative']//i[1]")
    
    if k == 7:
        Rating.append(np.nan)
        k+=1
        Rating.append(j.text)
    else:
        Rating.append(j.text)
        k+=1
        
len(Rating)

10

In [1185]:
Rating

['', '', '', '', '', '', nan, '', '', '']

The data is not being scraped from the pages where stars are shown. Trying it with the links of customer reviews for each product.

In [1186]:
url1a = 'https://www.amazon.in/dp/B089F5JGM1?th=1'
url1b = 'https://www.amazon.in/dp/B08CQ21154?th=1'
url1c = 'https://www.amazon.in/dp/B08HRHFV23#customerReviews'
url1d = 'https://www.amazon.in/dp/B08HYPRST4?th=1'
url1e = 'https://www.amazon.in/dp/B08BSHBHZZ#customerReviews'
url1f = 'https://www.amazon.in/dp/B08R843NHL#customerReviews'
url1g = 'https://www.amazon.in/dp/B07WCTR386#customerReviews'
url1h = 'https://www.amazon.in/dp/B08PQTZB3Z?th=1'
url1i = 'https://www.amazon.in/dp/B08ZN7GBQ5#customerReviews'

urla = [url1a, url1b, url1c, url1d, url1e, url1f, url1g, url1h, url1i]

In [1187]:
Rating = []
k = 1

for i in urla:
    driver.get(i)
    time.sleep(2)
    
    j = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
    
    if k == 7:
        Rating.append(np.nan) #Since, the 8th product doesnt have any Rating provided yet on the website
        k+=1
        Rating.append(j.text)
    else:
        Rating.append(j.text)
        k+=1
        
len(Rating)

10

In [1188]:
Rating

['4.4 out of 5',
 '4.3 out of 5',
 '3.1 out of 5',
 '4 out of 5',
 '3.6 out of 5',
 '3.6 out of 5',
 nan,
 '4.5 out of 5',
 '4.4 out of 5',
 '3 out of 5']

In [1189]:
Laptops = pd.DataFrame({'Title':Title, 'Price':Price, 'Rating':Rating})

# Q10 sol

In [1191]:
Laptops

                                               Title     Price        Rating
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...    53,999  4.4 out of 5
1  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...  1,35,490  4.3 out of 5
2  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    36,990  3.1 out of 5
3  Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...    77,990    4 out of 5
4  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...    78,493  3.6 out of 5
5  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  2,01,524  3.6 out of 5
6      2019 HP 17.3" HD+ Touchscreen Laptop Computer    61,799           NaN
7  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...    80,990  4.5 out of 5
8  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    91,999  4.4 out of 5
9  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...    38,999    3 out of 5

# Q9 sol

In [1192]:
Myn_shoes.sample(5)

              Brand                         Short_desc  Price
31        Cole Haan                   Leather Sneakers  10999
41     UNDER ARMOUR         Women HOVR Rise 2 Training   9999
17     UNDER ARMOUR         HOVR Sonic 3 Running Shoes  10999
83            Ruosh  Men Solid Leather Formal Slip-Ons   6990
7   PUMA Motorsport      Unisex Mercedes Running Shoes   7999

# Q8 sol

In [1193]:
flip_sneakers.sample(5)

,Brand,Description,Price,Discount
4,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹442,55% off
81,Edoeviv,Sneakers For Men (White 8) Sneakers For Men,₹440,44% off
14,Stefano Rads,Classy Sneakers For Men,₹242,65% off
16,Robbie jones,Casual Sneakers Black Shoes For Men Sneakers F...,₹428,57% off
67,GUSTO,Sneakers For Men,₹699,46% off

# Q7 sol

In [1194]:
iphone_review.sample(5)

,Rating,Summary,Review
59,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
22,5,Mind-blowing purchase,This will help you more. See if you are planni...
53,5,Terrific purchase,finally an iPhone with very nice battery backu...
21,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
54,5,Simply awesome,Really satisfied with the Product I received.....

# Q6 sol

In [1195]:
sunglasses.sample(5)

,Brand,Description,Price,Discount
50,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,84% off
46,AISLIN,"UV Protection, Others Wayfarer, Rectangular Su...",₹945,74% off
41,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
79,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off

# Q5 sol

In [1196]:
glassdoor1.sample(5)

,Company,Number of Salaries,Average Salary,Minimum Salary,Maximum Salary
1,IBM,14 salaries,"₹ 8,79,486/yr",₹569K,"₹2,648K"
2,Ericsson-Worldwide,14 salaries,"₹ 7,15,984/yr",₹350K,"₹1,565K"
9,Optum Global Solutions,8 salaries,"₹ 13,93,451/yr","₹1,000K","₹2,085K"
3,Delhivery,14 salaries,"₹ 12,12,741/yr",₹436K,"₹11,274K"
4,Accenture,13 salaries,"₹ 10,97,744/yr",₹560K,"₹2,147K"

# Q4 sol

In [1197]:
glassdoor.sample(5)

                Title Posted Rating
0      Biz2Credit Inc   30d+    3.8
4               Adobe    24h    4.4
1  UnitedHealth Group   30d+    3.6
7            Ericsson     8d    4.1
2           HDFC Bank   30d+    3.6

# Q3 sol

In [1198]:
Naukri2.sample(5)

,Title,Company,Location,Experience
1,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",4-9 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
8,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs

# Q2 sol

In [1199]:
Naukri1.sample(5)

,Title,Company,Location,Job Description
2,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Roles and Responsibilities\n\nMandatory Skills...
3,Analytics & AI Product Mgmt - Sr. Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,Given the increased focus on data and analytic...
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job Role : Data Scientist/Data Analyst /Busine...
9,Senior Data Scientist - Credit risk,Scienaptic Systems,Bangalore/Bengaluru,Responsibilities and duties Focus on developin...
8,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...","Introduction\nAs a Data Scientist at IBM, you ..."

# Q1 sol

In [1200]:
Naukri.sample(5)

,Title,Company,Location,Experience
3,Data Analyst,Shell India Markets Private Limited,Bangalore/Bengaluru,5-8 Yrs
8,Data Analyst,Shell India Markets Private Limited,Bangalore/Bengaluru,5-8 Yrs
4,Data Analyst,Applied Materials,Bangalore/Bengaluru,7-10 Yrs
1,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,0-2 Yrs
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs