In [40]:
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException, ElementNotVisibleException , ElementNotInteractableException
from selenium.common.exceptions import SessionNotCreatedException, TimeoutException

from selenium.webdriver.support.ui import WebDriverWait, Select
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

# Q1.
Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [4]:
driver.get(url)

In [5]:
driver.maximize_window()

In [7]:
headers = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//thead//tr//th")
len(headers)

6

In [8]:
header_cols = []

for i in headers:
    header_cols.append(i.text)
    
print(header_cols)

['No.', 'Video name', 'Uploader', 'Views (billions)', 'Upload date', 'Note']

In [ ]:
("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//tbody//tr//td[{}]".format(i+1))

In [9]:
table_length = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//tbody//tr")
len(table_length)

30

In [11]:
df = pd.DataFrame({})
df1 = pd.DataFrame({})

In [23]:
for j in range(len(table_length)):
    l = []
    for i in range(len(headers)):
        try:
            k = driver.find_element_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter'][1]//tbody//tr[{}]//td[{}]".format(j+1,i+1))
            l.append(k.text)
        except NoSuchElementException as e:
            print( e )
            l.append('-')
        n = [m for m in l]
    
    if j == 0:
        df = pd.DataFrame(data = [n], columns = header_cols)
        
    else:
        df1 = pd.DataFrame(data = [n], columns = header_cols)
        df = pd.concat([df,df1])

In [27]:
df = df.reset_index().drop(columns=["index",'Note'])

In [28]:
df.to_csv("Top viewed videos on youtube")

In [29]:
df.head()

,No.,Video name,Uploader,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.71,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.38,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.41,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"

# Q2
Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [116]:
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')

In [15]:
url = 'https://www.bcci.tv/'

In [41]:
driver.get(url)

In [43]:
driver.maximize_window()

In [44]:
actions = ActionChains(driver)

In [45]:
nav = driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']//li")

In [46]:
destination = driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']//li//div[2]//ul//li[1]")

In [47]:
actions.move_to_element(nav)

In [48]:
actions.move_to_element(destination)

In [49]:
actions.perform()

In [50]:
destination.click()

match title, series, place, date , time

In [53]:
dates = driver.find_elements_by_xpath("//div[@class='js-list']//a//div[@class='fixture__datetime desktop-only']")

In [59]:
k = []
for i in dates:
    print(i.text.replace("\n",','))
    k.append(i.text.replace("\n",','))

Friday,18,JUNE,15:00 IST
Tuesday,13,JULY,14:30 IST
Friday,16,JULY,14:30 IST
Sunday,18,JULY,14:30 IST
Wednesday,21,JULY,19:00 IST
Friday,23,JULY,19:00 IST
Sunday,25,JULY,19:00 IST
Wednesday,04,AUGUST,15:30 IST
Thursday,12,AUGUST,15:30 IST
Wednesday,25,AUGUST,15:30 IST
Thursday,02,SEPTEMBER,15:30 IST
Friday,10,SEPTEMBER,15:30 IST

In [55]:
len(dates)

12

In [58]:
k

['Friday\n18\nJUNE\n15:00 IST',
 'Tuesday\n13\nJULY\n14:30 IST',
 'Friday\n16\nJULY\n14:30 IST',
 'Sunday\n18\nJULY\n14:30 IST',
 'Wednesday\n21\nJULY\n19:00 IST',
 'Friday\n23\nJULY\n19:00 IST',
 'Sunday\n25\nJULY\n19:00 IST',
 'Wednesday\n04\nAUGUST\n15:30 IST',
 'Thursday\n12\nAUGUST\n15:30 IST',
 'Wednesday\n25\nAUGUST\n15:30 IST',
 'Thursday\n02\nSEPTEMBER\n15:30 IST',
 'Friday\n10\nSEPTEMBER\n15:30 IST']

In [60]:
k[0].split(",")

['Friday', '18', 'JUNE', '15:00 IST']

In [64]:
time =[]
for i in range(len(k)):
    time.append(k[i].split(",")[-1])

In [88]:
date = []
for i in range(len(k)):
    date.append(k[i].split(",")[0]+ ' '+k[i].split(",")[1]+' '+k[i].split(",")[2])

In [89]:
date

['Friday 18 JUNE',
 'Tuesday 13 JULY',
 'Friday 16 JULY',
 'Sunday 18 JULY',
 'Wednesday 21 JULY',
 'Friday 23 JULY',
 'Sunday 25 JULY',
 'Wednesday 04 AUGUST',
 'Thursday 12 AUGUST',
 'Wednesday 25 AUGUST',
 'Thursday 02 SEPTEMBER',
 'Friday 10 SEPTEMBER']

In [67]:
title = driver.find_elements_by_xpath("//div[@class='js-list']//a//div[@class='fixture__info u-skewed']//div[@class='fixture__description u-unskewed-text']//p//strong")

In [68]:
len(title)

12

In [69]:
Title = []
for i in title:
    Title.append(i.text)

In [70]:
Title

['Final',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '5th Test']

In [72]:
place = driver.find_elements_by_xpath("//div[@class='js-list']//a//div[@class='fixture__info u-skewed']//div[@class='fixture__description u-unskewed-text']//p//span")

In [74]:
Place = []
for i in place:
    Place.append(i.text)

In [75]:
Place

['The Ageas Bowl, Southampton',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [76]:
series = driver.find_elements_by_xpath("//div[@class='js-list']//a//div[@class='fixture__teams']")

In [79]:
Series = []
for i in series:
    Series.append(i.text.replace("\n" , ' '))

In [80]:
Series

['INDIA v NEW ZEALAND',
 'SRI LANKA v INDIA',
 'SRI LANKA v INDIA',
 'SRI LANKA v INDIA',
 'SRI LANKA v INDIA',
 'SRI LANKA v INDIA',
 'SRI LANKA v INDIA',
 'ENGLAND v INDIA',
 'ENGLAND v INDIA',
 'ENGLAND v INDIA',
 'ENGLAND v INDIA',
 'ENGLAND v INDIA']

In [94]:
fixtures = {}
fixtures['Title'] = Title
fixtures['Series'] = Series
fixtures['Date'] = date
fixtures['Time'] = time
fixtures['Place'] = Place

In [95]:
pd.DataFrame(fixtures)

,Title,Series,Date,Time,Place
0,Final,INDIA v NEW ZEALAND,Friday 18 JUNE,15:00 IST,"The Ageas Bowl, Southampton"
1,1st ODI,SRI LANKA v INDIA,Tuesday 13 JULY,14:30 IST,"R Premadasa Stadium, Colombo"
2,2nd ODI,SRI LANKA v INDIA,Friday 16 JULY,14:30 IST,"R Premadasa Stadium, Colombo"
3,3rd ODI,SRI LANKA v INDIA,Sunday 18 JULY,14:30 IST,"R Premadasa Stadium, Colombo"
4,1st T20I,SRI LANKA v INDIA,Wednesday 21 JULY,19:00 IST,"R Premadasa Stadium, Colombo"
5,2nd T20I,SRI LANKA v INDIA,Friday 23 JULY,19:00 IST,"R Premadasa Stadium, Colombo"
6,3rd T20I,SRI LANKA v INDIA,Sunday 25 JULY,19:00 IST,"R Premadasa Stadium, Colombo"
7,1st Test,ENGLAND v INDIA,Wednesday 04 AUGUST,15:30 IST,"Trent Bridge, Nottingham"
8,2nd Test,ENGLAND v INDIA,Thursday 12 AUGUST,15:30 IST,"Lord's, London"
9,3rd Test,ENGLAND v INDIA,Wednesday 25 AUGUST,15:30 IST,"Headingley, Leeds"
10,4th Test,ENGLAND v INDIA,Thursday 02 SEPTEMBER,15:30 IST,"The Oval, London"
11,5th Test,ENGLAND v INDIA,Friday 10 SEPTEMBER,15:30 IST,"Old Trafford, Manchester"

# Q3.

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [117]:
url = "https://www.guru99.com/"

In [175]:
driver.get(url)

In [167]:
driver.maximize_window()

WebDriverException: Message: unknown error: failed to change window state to 'normal', current state is 'maximized'
  (Session info: chrome=91.0.4472.77)

In [176]:
topics = driver.find_elements_by_xpath("//ul[@class='menu']//li//a")

In [177]:
len(topics)

139

In [178]:
for i in topics[0:10]:
    print(i.text)

Software Testing
QTP (Quick Test Professional)
Selenium
Mobile App Testing
Cucumber Testing
SoapUI
Agile Testing
JUnit
RPA
Live Testing Project

In [179]:
for i in topics:
    if i.text == 'Selenium':
        i.click()
        break

In [180]:
sub_topics = driver.find_elements_by_xpath("//table[@class='table']//tbody//tr//td[2]")

In [181]:
var = 'Selenium Exception Handling (Common Exceptions List)'
for i in sub_topics:
    if i.text == var:
        link = driver.find_element_by_xpath("//table[@class='table']//tbody//tr//td[1]//a[@title ='{}']//strong".format(var))
        break
link.click()

In [184]:
data = driver.find_elements_by_xpath("//table[@class = 'table table-striped']//tbody//tr")

In [185]:
len(data)

42

In [251]:
for i in range(len(data)):
    one = driver.find_element_by_xpath("//table[@class = 'table table-striped']//tbody//tr[{}]//td[1]".format(i+1))
    two = driver.find_element_by_xpath("//table[@class = 'table table-striped']//tbody//tr[{}]//td[2]".format(i+1))
    row = [one.text , two.text]
    
    if i == 0 :
        col = row
    else:
        if i == 1:
            df = pd.DataFrame([row], columns=col)
        else :
            df = pd.concat([df,pd.DataFrame([row],columns=col)])

In [253]:
df.reset_index().drop(columns=['index'])

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Q4
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [281]:
url = "http://statisticstimes.com/"
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [282]:
driver.maximize_window()

In [289]:
driver.get(url)

In [293]:
economy = driver.find_element_by_xpath("//div[@class='navbar']//div[2]")

In [294]:
india = driver.find_element_by_xpath("//div[@class='navbar']//div[2]//div//a[3]")

In [295]:
actions = ActionChains(driver)

In [296]:
actions.move_to_element(economy).move_to_element(india).click().perform()

In [297]:
gdp_link = driver.find_elements_by_xpath("//ul//li")

In [298]:
len(gdp_link)

53

In [299]:
for i in gdp_link:
    if i.text == 'Â» GDP of Indian states':
        i.click()
        break

In [300]:
headings = driver.find_elements_by_xpath("//div[@class='fwidth'][3]//div//div//table//thead//tr[1]//th")

In [301]:
head = []
for i in headings:
    head.append(i.text)

In [302]:
head

['Rank',
 'State',
 'GSDP (Cr INR at Current prices)',
 'Share',
 'GDP ($billion)',
 'GSDP (Cr INR at 2011-12 prices)']

In [308]:
headings2 = driver.find_elements_by_xpath("//div[@class='fwidth'][3]//div//div//table//thead//tr[2]//th")

In [309]:
head2 = []
for i in headings2:
    head2.append(i.text)
    
head2

['19-20', '18-19', '18-19', '2019', '19-20', '18-19']

In [307]:
len(headings2)

1

In [310]:
body = driver.find_elements_by_xpath("//div[@class='fwidth'][3]//div//div//table//tbody//tr")

In [323]:
columns = ['Rank','State','GSDP(19 -20) (Cr INR at Current prices) ','GSDP(18 -19)(Cr INR at Current prices)','Share','GDP ($billion)']

In [326]:
for i in range(len(body)):
    row = []
    for j in range(1,7):
        k = driver.find_element_by_xpath("//div[@class='fwidth'][3]//div//div//table//tbody//tr[{}]//td[{}]".format(i+1,j))
        row.append(k.text)
    if i == 0:
        df = pd.DataFrame([row],columns = columns)
    else:
        df = pd.concat([df,pd.DataFrame([row],columns=columns)])

In [327]:
df

,Rank,State,GSDP(19 -20) (Cr INR at Current prices),GSDP(18 -19)(Cr INR at Current prices),Share,GDP ($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
0,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
0,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
0,4,Gujarat,-,"1,502,899",7.96%,228.290
0,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
0,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
0,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
0,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
0,9,Telangana,"969,604","861,031",4.56%,130.791
0,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
0,11,Kerala,-,"781,653",4.14%,118.733
0,12,Delhi,"856,112","774,870",4.10%,117.703
0,13,Haryana,"831,610","734,163",3.89%,111.519
0,14,Bihar,"611,804","530,363",2.81%,80.562
0,15,Punjab,"574,760","526,376",2.79%,79.957
0,16,Odisha,"521,275","487,805",2.58%,74.098
0,17,Assam,-,"315,881",1.67%,47.982
0,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
0,19,Jharkhand,"328,598","297,204",1.57%,45.145
0,20,Uttarakhand,-,"245,895",1.30%,37.351
0,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
0,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
0,23,Goa,"80,449","73,170",0.39%,11.115
0,24,Tripura,"55,984","49,845",0.26%,7.571
0,25,Chandigarh,-,"42,114",0.22%,6.397
0,26,Puducherry,"38,253","34,433",0.18%,5.230
0,27,Meghalaya,"36,572","33,481",0.18%,5.086
0,28,Sikkim,"32,496","28,723",0.15%,4.363
0,29,Manipur,"31,790","27,870",0.15%,4.233
0,30,Nagaland,-,"27,283",0.14%,4.144
0,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
0,32,Mizoram,"26,503","22,287",0.12%,3.385
0,33,Andaman & Nicobar Islands,-,-,-,-

# Q5
Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [398]:
url = 'https://github.com/'
driver.get(url)

In [399]:
first_action = driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']//ul//li[@class='d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center '][2]")

In [405]:
first_action.text

'Explore'

In [406]:
first_action.click()

In [ ]:
time.sleep(3)

In [409]:
second_action = driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']//ul//li[4]//details//div//ul[2]//li[3]")

In [410]:
second_action.text

'Trending'

In [411]:
second_action.click()

In [412]:
repo = driver.find_elements_by_xpath("//div[@class='Box']//div[2]//article")

In [413]:
len(repo)

25

In [417]:
Titles = []
for i in range(len(repo)):
    k = driver.find_element_by_xpath("//div[@class='Box']//div[2]//article[{}]//h1//a".format(i+1))
    Titles.append(k.text)

In [418]:
Titles

['siduck76 / NvChad',
 'star261 / jd',
 'sqfmi / Watchy',
 'jina-ai / jina',
 'geohot / tinygrad',
 'hotwired / turbo-rails',
 'jwasham / coding-interview-university',
 'chriskiehl / Gooey',
 'monyhar / monyhar-lite',
 'chromium / chromium',
 'trimstray / the-book-of-secret-knowledge',
 'Asabeneh / 30-Days-Of-JavaScript',
 'lydiahallie / javascript-questions',
 'neon-age / Smart-Inspector',
 'alibaba / formily',
 'JDHelloWorld / jd_scripts',
 'yunjey / pytorch-tutorial',
 'vercel / next.js',
 'programthink / books',
 'ethersphere / bee',
 'willmcgugan / rich',
 'jdah / jdh-8',
 'NVlabs / SegFormer',
 'rustdesk / rustdesk',
 'adrianhajdin / portfolio_website']

In [421]:
Description = []
for i in range(len(repo)):
    try:
        k = driver.find_element_by_xpath("//div[@class='Box']//div[2]//article[{}]//p".format(i+1))
        Description.append(k.text)
    except NoSuchElementException as e:
        Description.append('-')
        print("exception occured: " , e)

exception occured:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='Box']//div[2]//article[2]//p"}
  (Session info: chrome=91.0.4472.77)

exception occured:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='Box']//div[2]//article[16]//p"}
  (Session info: chrome=91.0.4472.77)

In [422]:
Description

['beautiful neovim setup configured in lua',
 '-',
 'Watchy - An Open Source E-Ink Smartwatch',
 'An easier way to build neural search on the cloud',
 'You like pytorch? You like micrograd? You love tinygrad! â¤ï¸',
 'Use Turbo in your Ruby on Rails app',
 'A complete computer science study plan to become a software engineer.',
 'Turn (almost) any Python command line program into a full GUI application with one line',
 'æ¢¦å¼˜æµè§ˆå™¨ è‡ªä¸»ç ”å‘ç‰ˆæœ¬ - å®Œå…¨è‡ªä¸»ç ”å‘ï¼Œæ‰“ç ´å›½å¤–åž„æ–­ï¼Œæ¯” Chrome å¿« 600%ã€‚ç¼ºå°‘ä¸Šç½‘åŠŸèƒ½ã€‚',
 'The official GitHub mirror of the Chromium source',
 'A collection of inspiring lists, manuals, cheatsheets, blogs, hacks, one-liners, cli/web tools and more.',
 '30 days of JavaScript programming challenge is a step-by-step guide to learn JavaScript programming language in 30 days. This challenge may take more than 100 days, please just follow your own pace.',
 'A long list of (advanced) JavaScript questions, and their explanations âœ¨',
 'Keeps your screen real-estate clean with refined, compact UX.',
 'Alibaba Group Unified Form Solution -- Support React/Vue2/Vue3',
 '-',
 'PyTorch Tutorial for Deep Learning Researchers',
 'The React Framework',
 'ã€ç¼–ç¨‹éšæƒ³ã€‘æ”¶è—çš„ç”µå­ä¹¦æ¸…å•ï¼ˆå¤šä¸ªå­¦ç§‘ï¼Œå«ä¸‹è½½é“¾æŽ¥ï¼‰',
 'Bee is a Swarm client implemented in Go. Itâ€™s the basic building block for the Swarm network: a private; decentralized; censorship-resistant and self-sustaining network for storing your (application) data.',
 'Rich is a Python library for rich text and beautiful formatting in the terminal.',
 'An 8-bit minicomputer with a fully custom architecture',
 'Official implementation of "SegFormer: Simple and Efficient Design for Semantic Segmentation with Transformers"',
 'An open source remote desktop client software',
 'Tutorial created by Enyel Sequeira, taught by JavaScript Mastery']

In [423]:
Language = []
for i in range(len(repo)):
    try:
        k = driver.find_element_by_xpath("//div[@class='Box']//div[2]//article[{}]//div[2]//span//span[@itemprop = 'programmingLanguage']".format(i+1))
        Language.append(k.text)
    except NoSuchElementException as e:
        Language.append('-')
        print("exception occured: " , e)

exception occured:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='Box']//div[2]//article[7]//div[2]//span//span[@itemprop = 'programmingLanguage']"}
  (Session info: chrome=91.0.4472.77)

exception occured:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='Box']//div[2]//article[10]//div[2]//span//span[@itemprop = 'programmingLanguage']"}
  (Session info: chrome=91.0.4472.77)

exception occured:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='Box']//div[2]//article[11]//div[2]//span//span[@itemprop = 'programmingLanguage']"}
  (Session info: chrome=91.0.4472.77)

exception occured:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='Box']//div[2]//article[13]//div[2]//span//span[@itemprop = 'programmingLanguage']"}
  (Session info: chrome=91.0.4472.77)

exception occured:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='Box']//div[2]//article[19]//div[2]//span//span[@itemprop = 'programmingLanguage']"}
  (Session info: chrome=91.0.4472.77)

In [424]:
Language

['Lua',
 'JavaScript',
 'C',
 'Python',
 'Python',
 'JavaScript',
 '-',
 'Python',
 'C',
 '-',
 '-',
 'JavaScript',
 '-',
 'C#',
 'TypeScript',
 'JavaScript',
 'Python',
 'JavaScript',
 '-',
 'Go',
 'Python',
 'C',
 'Python',
 'Rust',
 'JavaScript']

In [427]:
Contributors = []
for i in range(len(repo)):
    try:
        k = driver.find_elements_by_xpath("//div[@class='Box']//div[2]//article[{}]//div[2]//span[@class='d-inline-block mr-3']//a".format(i+1))
        Contributors.append(len(k))
    except NoSuchElementException as e:
        Contributors.append('-')
        print("exception occured: " , e)

In [429]:
Contributors

[5, 2, 5, 5, 5, 5, 5, 5, 1, 0, 5, 5, 5, 1, 5, 1, 5, 5, 1, 5, 5, 1, 3, 5, 2]

In [430]:
repositories = pd.DataFrame({'Title':Titles , 'Description':Description, 'Language':Language, 'Contributors':Contributors})

In [431]:
repositories.head()

,Title,Description,Language,Contributors
0,siduck76 / NvChad,beautiful neovim setup configured in lua,Lua,5
1,star261 / jd,-,JavaScript,2
2,sqfmi / Watchy,Watchy - An Open Source E-Ink Smartwatch,C,5
3,jina-ai / jina,An easier way to build neural search on the cloud,Python,5
4,geohot / tinygrad,You like pytorch? You like micrograd? You love...,Python,5

In [474]:
driver.close()

# Q6

Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [475]:
url = 'https://www.billboard.com/'
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [476]:
driver.maximize_window()

In [477]:
first_action = driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']//div[@class='header__main-menu__wrapper flex--grow']//ul//li//a")

In [487]:
first_action.text

'CHARTS'

In [488]:
actions.move_to_element(first_action).perform()

In [489]:
second_action = driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']//div[@class='header__main-menu__wrapper flex--grow']//ul[@class='header__link-list header__main-menu bg--dark']//li[1]//span//ul[@class='header__submenu__list']//li[1]//a")

In [490]:
second_action.text

'Hot 100'

In [491]:
second_action.click()

In [495]:
data = driver.find_elements_by_xpath("//ol[@class='chart-list__elements']//li//button")

In [496]:
len(data)

100

In [501]:
song_names = driver.find_elements_by_xpath("//ol[@class='chart-list__elements']//li//button//span[@class='chart-element__information']//span[@class='chart-element__information__song text--truncate color--primary']")

In [502]:
len(song_names)

100

In [503]:
artist_names = driver.find_elements_by_xpath("//ol[@class='chart-list__elements']//li//button//span[@class='chart-element__information']//span[@class='chart-element__information__artist text--truncate color--secondary']")

In [504]:
len(artist_names)

100

In [505]:
Song = []
for i in song_names:
    Song.append(i.text)

In [507]:
Artist = []
for i in artist_names:
    Artist.append(i.text)

In [528]:
last_rank = driver.find_elements_by_xpath("//ol[@class='chart-list__elements']//li//button//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']//div[@class='chart-element__meta text--center color--secondary text--last']")

In [529]:
len(last_rank)

100

In [530]:
peak_ranks = driver.find_elements_by_xpath("//ol[@class='chart-list__elements']//li//button//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']//div[@class='chart-element__meta text--center color--secondary text--peak']")

In [531]:
len(peak_ranks)

100

In [532]:
weeks = driver.find_elements_by_xpath("//ol[@class='chart-list__elements']//li//button//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']//div[@class='chart-element__meta text--center color--secondary text--week']")

In [533]:
len(weeks)

100

In [534]:
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

for i in last_rank:
    Last_week_rank.append(i.text)
    
for i in peak_ranks:
    Peak_rank.append(i.text)
    
for i in weeks:
    Weeks_on_board.append(i.text)
    
hot_100 = pd.DataFrame({'Song':Song, 'Artist':Artist, 'Last_week_rank':Last_week_rank, 'Peak_rank':Peak_rank, 'Weeks_on_board':Weeks_on_board})

In [535]:
hot_100.shape

(100, 5)

In [536]:
hot_100.head()

,Song,Artist,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14

In [537]:
driver.close()

# Q7
Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [538]:
url = "https://www.naukri.com/"
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [540]:
search = driver.find_element_by_xpath("//a[@title='Search Recruiters']")

In [541]:
search.click()

In [542]:
driver.switch_to.window(driver.window_handles[-1])

In [543]:
search_title = driver.find_element_by_xpath("//div[@class='inpWrap']//input")

In [544]:
search_title.send_keys("Data science")

In [545]:
search_button = driver.find_element_by_id("qsbFormBtn")
search_button.click()

In [567]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [547]:
driver.execute_script("window.scrollTo(0, 0);")

In [558]:
length = driver.find_elements_by_xpath("//div[@class='recInfo']")

In [559]:
len(length)

50

In [573]:
Name = []
for i in range(len(length)//2):
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fl fadeInUp']//div[@class='recInfo']//div[@class='vcard']//p//a[1]//span".format(i+1))
        Name.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fl" )
        Name.append('-')
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fr fadeInUp']//div[@class='recInfo']//div[@class='vcard']//p//a[1]//span".format(i+1))
        Name.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fr")
        Name.append('-')

In [575]:
Designation = []
for i in range(len(length)//2):
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fl fadeInUp']//div[@class='recInfo']//div[@class='vcard']//p//span[@class='ellipsis clr']".format(i+1))
        Designation.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fl" )
        Designation.append('-')
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fr fadeInUp']//div[@class='recInfo']//div[@class='vcard']//p//span[@class='ellipsis clr']".format(i+1))
        Designation.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fr")
        Designation.append('-')

In [577]:
Company = []
for i in range(len(length)//2):
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fl fadeInUp']//div[@class='recInfo']//div[@class='vcard']//p//a[2]//i".format(i+1))
        Company.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fl" )
        Company.append('-')
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fr fadeInUp']//div[@class='recInfo']//div[@class='vcard']//p//a[2]//i".format(i+1))
        Company.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fr")
        Company.append('-')

In [579]:
Location = []
for i in range(len(length)//2):
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fl fadeInUp']//div[@class='recInfo']//div[@class='vcard']//p//span//small".format(i+1))
        Location.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fl" )
        Location.append('-')
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fr fadeInUp']//div[@class='recInfo']//div[@class='vcard']//p//span//small".format(i+1))
        Location.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fr")
        Location.append('-')

14 fl
24 fr

In [580]:
Skills = []
for i in range(len(length)//2):
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fl fadeInUp']//div[@class='recInfo']//div[@class='hireSec highlightable']".format(i+1))
        Skills.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fl" )
        Skills.append('-')
    try:
        k = driver.find_element_by_xpath("//div[@class='outerRecSec'][{}]//div[@class='recSec fr fadeInUp']//div[@class='recInfo']//div[@class='hireSec highlightable']".format(i+1))
        Skills.append(k.text)
    except NoSuchElementException as e:
        print( i+1 , "fr")
        Skills.append('-')

In [582]:
Jobs = pd.DataFrame({'Name':Name , 'Designation':Designation, 'Company':Company , 'Location':Location, 'Skills':Skills})

In [583]:
Jobs.sample(5)

,Name,Designation,Company,Location,Skills
19,Faizan Kareem,HR MANAGER,,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
35,Kanan,senior technology instructor,,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
41,Gaurav Chouhan,Chief Technical Officer,,Indore,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
46,ROHIT Kumar,Architect,,Mumbai,"Software Development, Core Java, Unit Testing,..."

In [585]:
driver.close()

# Q8
Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [584]:
url =  "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"

In [586]:
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [587]:
length = driver.find_elements_by_xpath("//div[@class='embed block']//table//thead//tr//th")

In [588]:
len(length)

6

In [589]:
columns = []
for i in range(len(length)):
    k = driver.find_element_by_xpath("//div[@class='embed block']//table//thead//tr//th[{}]".format(i+1))
    columns.append(k.text)

In [590]:
columns

['Rank', 'Title', 'Author', 'Volume Sales', 'Publisher', 'Genre']

In [591]:
total_rows = driver.find_elements_by_xpath("//div[@class='embed block']//table//tbody//tr")

In [592]:
len(total_rows)

100

In [595]:
for i in range(len(total_rows)):
    row = []
    for j in range(len(length)):
        try:
            k = driver.find_element_by_xpath("//div[@class='embed block']//table//tbody//tr[{}]//td[{}]".format(i+1,j+1))
            row.append(k.text)
        except NoSuchElementException as e:
            print( i+1, "row and" ,j+1 ,"column")
            print(e)
            row.append('-')
    if i == 0:
        df = pd.DataFrame([row],columns=columns)
    else:
        df = pd.concat([df,pd.DataFrame([row],columns=columns)],axis=0)
        
df.sample(5)

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
0,30,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
0,15,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"
0,18,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
0,22,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science

In [596]:
df = df.reset_index().drop(columns=['index'])

In [598]:
df.shape

(100, 6)

In [599]:
df.sample(5)

,Rank,Title,Author,Volume Sales,Publisher,Genre
6,7,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
40,41,"Gruffalo's Child,The","Donaldson, Julia","1,208,711",Pan Macmillan,Picture Books
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
37,38,Life of Pi,"Martel, Yann","1,310,176",Canongate,General & Literary Fiction
75,76,Notes from a Small Island,"Bryson, Bill","931,312",Transworld,Travel Writing

In [600]:
driver.close()

# Q9
Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [601]:
url = "https://www.imdb.com/list/ls095964455/"
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [602]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
driver.execute_script("window.scrollTo(0, 0);")

In [603]:
length = driver.find_elements_by_xpath("//div[@class='lister-item-content']")
len(length)

100

In [606]:
Name = []
for i in range(len(length)):
    try:
        k = driver.find_element_by_xpath("//div[@class='lister-item mode-detail'][{}]//div[@class='lister-item-content']//h3//a".format(i+1))
        Name.append(k.text)
    except NoSuchElementException as e:
        print( " at " , i+1 , " : " , e)
        Name.append("-")
len(Name)

100

In [607]:
Year_span = []
for i in range(len(length)):
    try:
        k = driver.find_element_by_xpath("//div[@class='lister-item mode-detail'][{}]//div[@class='lister-item-content']//h3//span[2]".format(i+1))
        Year_span.append(k.text)
    except NoSuchElementException as e:
        print( " at " , i+1 , " : " , e)
        Year_span.append("-")
len(Year_span)

100

In [608]:
Genre = []
for i in range(len(length)):
    try:
        k = driver.find_element_by_xpath("//div[@class='lister-item mode-detail'][{}]//div[@class='lister-item-content']//p[1]//span[@class='genre']".format(i+1))
        Genre.append(k.text)
    except NoSuchElementException as e:
        print( " at " , i+1 , " : " , e)
        Genre.append("-")
len(Genre)

100

In [609]:
run_time = []
for i in range(len(length)):
    try:
        k = driver.find_element_by_xpath("//div[@class='lister-item mode-detail'][{}]//div[@class='lister-item-content']//p[1]//span[@class='runtime']".format(i+1))
        run_time.append(k.text)
    except NoSuchElementException as e:
        print( " at " , i+1 , " : " , e)
        run_time.append("-")
len(run_time)

100

In [610]:
ratings = []
for i in range(len(length)):
    try:
        k = driver.find_element_by_xpath("//div[@class='lister-item mode-detail'][{}]//div[@class='lister-item-content']//div[@class='ipl-rating-widget']//div[1]//span[2]".format(i+1))
        ratings.append(k.text)
    except NoSuchElementException as e:
        print( " at " , i+1 , " : " , e)
        ratings.append("-")
len(ratings)

100

In [611]:
votings = []
for i in range(len(length)):
    try:
        k = driver.find_element_by_xpath("//div[@class='lister-item mode-detail'][{}]//div[@class='lister-item-content']//p[4]//span[2]".format(i+1))
        votings.append(k.text)
    except NoSuchElementException as e:
        print( " at " , i+1 , " : " , e)
        votings.append("-")
len(votings)

100

In [612]:
df = pd.DataFrame({"Name":Name, "Year_span":Year_span, "Genre":Genre, "Run_time":run_time, "Ratings":ratings, "Votes":votings})
print(df.shape)
df.sample(5)

(100, 6)

,Name,Year_span,Genre,Run_time,Ratings,Votes
58,Quantico,(2015â€“2018),"Crime, Drama, Mystery",42 min,6.7,"57,858"
23,Teen Wolf,(2011â€“2017),"Action, Drama, Fantasy",41 min,7.6,"131,136"
65,The Good Doctor,(2017â€“ ),Drama,41 min,8.1,"67,724"
11,The Big Bang Theory,(2007â€“2019),"Comedy, Romance",22 min,8.1,"737,538"
67,Glee,(2009â€“2015),"Comedy, Drama, Music",44 min,6.7,"138,858"

In [613]:
driver.close()

# Q10
Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code

In [614]:
url = "https://archive.ics.uci.edu/"
driver = webdriver.Chrome(r'C:\Users\AKHIL\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [615]:
destination = driver.find_element_by_xpath("//table//tbody//tr//td[2]//span[2]//a")
destination.click()

In [618]:
columns = []
k = driver.find_elements_by_xpath("//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td//p//a//b")
for i in k:
    columns.append(i.text)
columns

['Name',
 'Data Types',
 'Default Task',
 'Attribute Types',
 '# Instances',
 '# Attributes',
 'Year']

In [625]:
length = driver.find_elements_by_xpath("//body//table[2]//tbody//tr//td[2]//table[@border='1']//tbody//tr")
len(length)

1177

There is a table inside the first column of the main table. Hence, the elements are 1177//2 = 588

In [620]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [630]:
for i in range((len(length)//2)):
    row = []
    for j in range(len(columns)):
        if j == 0:
            try:
                k = driver.find_element_by_xpath("//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr[{}]//td[{}]//table//tbody//tr//td[2]//p//b//a".format(i+2,j+1))
                row.append(k.text)
            except NoSuchElementException as e:
                print( i+1, "row and ",j+1,"column : ", e)
                row.append('-')
        else:
            try:
                k = driver.find_element_by_xpath("//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr[{}]//td[{}]//p".format(i+2,j+1))
                row.append(k.text)
            except NoSuchElementException as e:
                print( i+1, "row and ",j+1,"column : ", e)
                row.append('-')
    if i == 0:
        df = pd.DataFrame([row],columns=columns)
    else:
        df = pd.concat([df,pd.DataFrame([row],columns=columns)],axis=0)

In [631]:
df.shape

(588, 7)

In [632]:
df.head()

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,Abalone,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
0,Adult,Adult,Classification,"Categorical, Integer",48842,14,1996
0,Annealing,Annealing,Classification,"Categorical, Integer, Real",798,38,
0,Anonymous Microsoft Web Data,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
0,Arrhythmia,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998

In [633]:
df = df.reset_index().drop(columns = ['index'])
df.head()

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,Abalone,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Adult,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Annealing,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998